.t1{
    width: 50%;
    background-color: whitesmoke;
    color: #7bd5f5;
    text-align: center;
    border: solid 3px #7bd5f5;
}
.t2{
    width: 50%;
    background-color: #7bd5f5;
    color: whitesmoke;
    text-align: center;
    border: solid 3px whitesmoke;
}