.div1{
    display: flex;
    
    justify-content: center;

}

h1{
    width: 50%;
    background-color: rgb(59, 59, 59);
    color: whitesmoke;
    text-align: center;

}
h2{
    width: 50%;
    background-color: #dc143c;
    color: whitesmoke;
    text-align: center;
}